* {
  box-sizing: border-box;
}


body {
  margin: 0;
  width: 100vw;
  height: 100vh;

;
  user-select: none;
-webkit-app-region: drag;

background: url("assets/bg2.png");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 90px;
  height: 100%;
  gap: 20px; 
}


.liquid-glass-input,
.liquid-glass-results {
  
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(15px);          
  -webkit-backdrop-filter: blur(15px);  
  
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
  border-radius: 16px;
  
  color: white;
  font-family: sans-serif;
  transition: all 0.3s ease;
}



.liquid-glass-input {
  width: 250px; 
  padding: 10px 15px; 
  font-size: 1rem;
  outline: none;
}

.liquid-glass-results {
  width: 250px;
  min-height: 50px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.result-item {
  color: rgba(255, 255, 255, 0.4);

  font-size: 0.9rem;
  font-family: sans-serif;
  
  padding: 7px;
  border-radius: 8px;
  cursor: pointer;
  -webkit-app-region: no-drag;
  transition: all 0.2s ease;
}


.liquid-glass-button {
  width: 100px; 
  padding: 8px 12px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  color: white;
  transition: all 0.3s ease;
}

.liquid-glass-button:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

button,
input,
textarea,
select {
  -webkit-app-region: no-drag;
  cursor: pointer;
}